<html>
<head>
<link rel="stylesheet" href="static/css/dashboard.css">
</head>
<body>

    
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>TapLeads</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="#" class="active">
                <span class="fas fa-tachometer-alt"></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/dashboard_redirect/importrecord">
                <span class="fas fa-users" ></span>
                <span>Import Records</span>
              </a>
            </li>
            <li>
              <a href="dashboard_admin/view">
                <span class="fas fa-users" ></span>
                <span>View Contacts</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fas fa-users" ></span>
                <span>Search Contacts</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fas fa-shopping-cart"></span>
                <span>Scoring</span>
              </a>
            </li>

            <li>
              <a href="#">
                <span class="fas fa-boxes"></span>
                <span>Saved Contacts</span>
              </a>
            </li>
            
            <li>
              <a href="#">
                <span class="fas fa-tasks"></span>
                <span>Export Contacts</span>
              </a>
            </li>
          </ul>

        </div>
    </div>    

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="fas fa-bars">=</span>
          </label>
          Dashboard
        </h2>

       

        <div class="user-wrapper">
         <img src="https://bit.ly/3bvT89p" width="40px" height="40px" alt="profile-img">
         <div class="">
            <h4>{{ username }}</h4>
            
           
         </div>
        </div>
      </header>

      <main>
        <div class="cards">
          <div class="card-single">
            <div>
              <h1>{{ total_limit }}</h1>
              <span>Limits</span>
            </div>
            <div>
              <span class="fas fa-users"></span>
            </div>
          </div>
          <div class="card-single">
            <div>
              <h1>{{ balance }}</h1>
              <span>Balance</span>
            </div>
            <div>
              <span class="fas fa-clipboard-list"></span>
            </div>
          </div>
          <div class="card-single">
            <div>
              <h2> Scoring type </h2>
              <button> <span class="card-single button">Edit</span> </button>
            </div>
            <div>
              <span class="fas fa-shopping-cart"></span>
            </div>
          </div>
          <div class="card-single">
            <div>
              <h1>{{ subscription_type }} Subscriber</h1>
              <span>Member since : {{ date_joined }}</span>
            </div>
            <div>
              <span class="fas fa-wallet"></span>
            </div>
          </div>

        </div>
        <br>
        <div class="recent-grid2">
          <div class="projects">
            <div class="card">
              <div class="card-header">
                <h2>Saved Contacts</h2>
                <button>See all <span class="fas fa-arrow-right"></span> </button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table width="100%">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Company</td>
                      <td>Action</td>

                    </tr>
                  </thead>
                <tbody>
                  {% for row in viewed %}
                  <tr>
                    <td>{{row.full_name}}</td>
                  </tr>
                      <!--{% for row in Contact %}
                      {% for i in '012'|make_list %}
                      <tr>
                        <td>{{ row.full_name }} </td>
                        <td>{{ row.company }}</td>
                        <td>
                          <button class="btn">View </button> 
                        </td>
                      </tr>
                      {% endfor %}-->
                      {% endfor %}
                    {% endfor %}
                  </tbody>

                </table>
                </div>
              </div>

            </div>

          </div>
          <br>
          <!--view contact-->
          <div class="recent-grid2">
            <div class="projects">
              <div class="card">
                <div class="card-header">
                  <h2>Exported Contacts</h2>
                  <button>See all <span class="fas fa-arrow-right"></span> </button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="recent-grid2">
          <div class="projects">
            <div class="card">
              <div class="card-header">
                <h2>Recent Uploaded Records</h2>
                <button>See all <span class="fas fa-arrow-right"></span> </button>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table width="100%">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Company</td>
                      <td>Action</td>

                    </tr>
                  </thead>
                  <tbody>
                    {% for row in Contact %}
                      {% for i in '012'|make_list %}
                      <tr>
                        <td>{{ row.full_name }} </td>
                        <td>{{ row.company }}</td>
                        <td>
                          <button class="btn">View </button> 
                        </td>
                      </tr>
                      {% endfor %}
                    {% endfor %}
                  </tbody>

                </table>
                </div>
              </div>

        </div>  

      </main>
    </div>


</body>
</html>
