<html>
<head>
<link rel="stylesheet" href="static/css/login.css">

</head>
<body>

<div class="card">
   <form action="" method="POST">
      {% csrf_token %}
      <h2 class="title"> Log in</h2>
      <p class="subtitle">Don't have an account? <a href="registration"> Sign Up</a></p>

      <div class="email-login">
         <label for="email"> <b>Email</b></label>
         <input type="text" placeholder="Enter Email" name="Username" required>
         <label for="psw"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" name="Password" required>
      </div>
      <button class="cta-btn" type="submit">Log In</button>
      <a class="forget-pass" href="#">Forgot password?</a>
   </form>
</div>
</body>
</html>