<html>
<head>
<link rel="stylesheet" href="static/css/reg.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
{% block content %} 
<div class="container">
<br>  
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<form action="" method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		{{ RegistrationForm }}   
        	<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    	</div> <!-- form-group// -->      
    	<p class="text-center">Have an account? <a href="login.html">Log In</a> </p>                                                                 
	</form>
	</article>
	</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>

{% endblock %}
</body>
</html>